# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env


forge create src/PoolToken.sol:PoolToken \
  --broadcast \
  --rpc-url "$RPC_URL" \
  --private-key "$PRIVATE_KEY" \
  --constructor-args 1000000000000000000000000 


  No files changed, compilation skipped
Deployer: 0x2Ac5519FBaE5A2bC547Aa72b5aDa6256576fcd57
Deployed to: 0x5EEafA0e610C33f1c2FF8d5d3967fe26C655B67e // 
Transaction hash: 0xfe00595bb35c765019e24e99663349f129587b0d5b177b0a15979c44f1e8bbd7

  source .env

forge create src/PoolNFT.sol:PoolNFT \
  --broadcast \
  --rpc-url "$RPC_URL" \
  --private-key "$PRIVATE_KEY" \
  --constructor-args "ipfs://$CID_KEY/" \
  --etherscan-api-key "$ETHERSCAN_API_KEY"
  
  No files changed, compilation skipped
Deployer: 0x2Ac5519FBaE5A2bC547Aa72b5aDa6256576fcd57
Deployed to: 0xf76ba2e3FFcb3c1C7C7a1e03db2AeEBc2820fb49
Transaction hash: 0x0f214a3956d03b543e98799017d595b110c1d5c1b376d48578f7bc480078da17

    